<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="ApiSheet" value="PBsZJBJObUodACQLIBxDMw4bJQkLCTEHJ0EOOwxbNFFBGzEcMQ4JJwkRJxEdR3BdZwUKGDgRGwEnDRMIYBYDJQ49exAZEAMGIj4cYhFAIDAZHSAKCydfYi0hbRMPBDQLJ0AMJAgrNgoDHCAaNgoDPAAaFFdPKXBUFl1dawoRO1gvITsPBxYpISkEGgo8RXA3BFwXESkjFiA4HAM7AANbDTInFgosLxA="/>
		<add key="KeyDecrypt" value="TomTatBenhAn"/>
		<add key="ApiBaseUrl" value="http://localhost:3000"/>
		<add key="API_gemini_1" value="AIzaSyBgOPP2u8iG-lNs2xtOygk8wW5muB8kGj0"/>
		<add key="API_gemini_2" value="AIzaSyB6a9TeN6FE4rZ0R-omyyiPp0RmBfyWNm4"/>
		<add key="API_gemini_3" value="AIzaSyAnf4-cbJSxDGJwfao_Z0MN5AYh54qPbTY"/>
		<add key ="URL_gemini" value="https://generativelanguage.googleapis.com/v1beta/models/gemini-2.0-flash:generateContent?key="/>
	</appSettings>
</configuration>