<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="ApiSheet" value="https://sheets.googleapis.com/v4/spreadsheets/1otMXJams77BzKFiU21zdmSVjQ5OKD-chexORxOqITks/values/TomTatBenhAn!A1:B20?key=AIzaSyDuHpXoR-1YP3zEHWTEVtBUTl6YSSToBGQ="/>
		<add key="KeyDecrypt" value="TomTatBenhAn"/>
		<add key="ApiBaseUrl" value="http://171.244.61.102:3000"/>
		<!-- 3 API keys (đã mã hóa) -->
		<add key="API_gemini_1" value="FSYXNTINAAYkOisgHSo6GFlCNiNfCXkaBDcBITMBdwYhIhYhCwxd"/>
		<add key="API_gemini_2" value="FSYXNTINACYxOhcMPgg8EDcgKBU3ICM/PFg8GAM8ejYjBRYhAx48"/>
		<add key="API_gemini_3" value="FSYXNTINBjYiP3UBMzxABlciNlY5MhQaIQ0gHBdDBSFdIGwpHjxZ"/>
		<add key ="URL_gemini" value="https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash:generateContent"/>
	</appSettings>
</configuration>



























